data/flows.json
[
    {
        "id": "6e5c79bcaeebd8b9",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c1a50abf49df9690",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "891ee435ac193545",
        "type": "MySQLdatabase",
        "name": "db_nodered",
        "host": "db",
        "port": "3306",
        "db": "node_red",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "1559a8d4092fea69",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://192.168.153.11:48010/",
        "secpol": "None",
        "secmode": "None",
        "none": false,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "408982674b964e24",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6f96a48da2424141",
        "type": "ui_group",
        "name": "Testing",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "051a6eb96033b36d",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "Times New Roman,Times,serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Times New Roman,Times,serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "menu",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "210d9340d2149b29",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "test",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "55e90c2f9b3942ad",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 2,
        "width": 50,
        "height": 1
    },
    {
        "id": "aa12162c8170d4e3",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 50,
        "height": 1
    },
    {
        "id": "1b4af99476ccb0ac",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 4,
        "width": 50,
        "height": 1
    },
    {
        "id": "b6bde029db601290",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 50,
        "height": 1
    },
    {
        "id": "9b9ee78133fea0d5",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 6,
        "width": 50,
        "height": 1
    },
    {
        "id": "e11c11ad39fba478",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 7,
        "width": 50,
        "height": 1
    },
    {
        "id": "8fea397e39c0c7a4",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 8,
        "width": 50,
        "height": 1
    },
    {
        "id": "40604f0c5ffdadd1",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 9,
        "width": 50,
        "height": 1
    },
    {
        "id": "f817db58e5782018",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 10,
        "width": 50,
        "height": 1
    },
    {
        "id": "c34c7a371279a742",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 11,
        "width": 50,
        "height": 1
    },
    {
        "id": "7b10fe2b16377317",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 12,
        "width": 50,
        "height": 1
    },
    {
        "id": "6f7a948626b46a75",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 13,
        "width": 50,
        "height": 1
    },
    {
        "id": "9d34b6f0e7c5e18b",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 14,
        "width": 50,
        "height": 1
    },
    {
        "id": "491c6e3bc085f48a",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 15,
        "width": 50,
        "height": 1
    },
    {
        "id": "73e0de8dc62b9722",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 16,
        "width": 50,
        "height": 1
    },
    {
        "id": "e268ddc29fc3e723",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 17,
        "width": 50,
        "height": 1
    },
    {
        "id": "b8e43ce31ba6fbd2",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 18,
        "width": 50,
        "height": 1
    },
    {
        "id": "4260601f81403d5e",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 19,
        "width": 50,
        "height": 1
    },
    {
        "id": "be97ad71c22696f5",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 20,
        "width": 50,
        "height": 1
    },
    {
        "id": "4c9fd6750b8cb6fb",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 21,
        "width": 50,
        "height": 1
    },
    {
        "id": "e656f250218f45a6",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 22,
        "width": 50,
        "height": 1
    },
    {
        "id": "30513a1c9c8d8c42",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 23,
        "width": 21,
        "height": 1
    },
    {
        "id": "eb5095a3c4d9c3d9",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 25,
        "width": 23,
        "height": 1
    },
    {
        "id": "b06e8db6b57ccf8e",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 26,
        "width": 21,
        "height": 1
    },
    {
        "id": "3840efb29487660b",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 27,
        "width": 23,
        "height": 1
    },
    {
        "id": "8018d87bcaa98108",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 28,
        "width": 21,
        "height": 1
    },
    {
        "id": "265884cc1f8cc15a",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 29,
        "width": 23,
        "height": 1
    },
    {
        "id": "505d9670f274b242",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 30,
        "width": 21,
        "height": 1
    },
    {
        "id": "b8b3294b73f92646",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 31,
        "width": 23,
        "height": 1
    },
    {
        "id": "c86f8204ad8c0a5d",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 32,
        "width": 21,
        "height": 1
    },
    {
        "id": "77eef014648a01ba",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 33,
        "width": 23,
        "height": 1
    },
    {
        "id": "e107c1a2417c9530",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 34,
        "width": 21,
        "height": 1
    },
    {
        "id": "82d1cce56e96c404",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 35,
        "width": 23,
        "height": 1
    },
    {
        "id": "92c56ff6b7fea4b1",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 37,
        "width": 7,
        "height": 1
    },
    {
        "id": "a8a17ac35072a34f",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 38,
        "width": 23,
        "height": 1
    },
    {
        "id": "92e6e8592133fa30",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 39,
        "width": 7,
        "height": 1
    },
    {
        "id": "daa41a3da78a8d19",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 40,
        "width": 23,
        "height": 1
    },
    {
        "id": "d516954555767568",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 41,
        "width": 7,
        "height": 1
    },
    {
        "id": "5440a4d3bac60441",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 42,
        "width": 23,
        "height": 1
    },
    {
        "id": "7ea7086eba6865fe",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 43,
        "width": 7,
        "height": 1
    },
    {
        "id": "82f0bd3693224869",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 44,
        "width": 23,
        "height": 1
    },
    {
        "id": "a6fa4578488d82e7",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 45,
        "width": 36,
        "height": 1
    },
    {
        "id": "212b0aeb63da70db",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 46,
        "width": 36,
        "height": 1
    },
    {
        "id": "9aa8867b68c3f643",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 47,
        "width": 36,
        "height": 1
    },
    {
        "id": "ea30157cadb942c0",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 48,
        "width": 36,
        "height": 1
    },
    {
        "id": "4abb16b985120f77",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 52,
        "width": 22,
        "height": 1
    },
    {
        "id": "c3c7dc997367b9a5",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 53,
        "width": 22,
        "height": 1
    },
    {
        "id": "04a833d975adfc18",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 54,
        "width": 22,
        "height": 1
    },
    {
        "id": "be92416c74d6c47d",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 55,
        "width": 22,
        "height": 1
    },
    {
        "id": "48be137af6266a63",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 56,
        "width": 22,
        "height": 1
    },
    {
        "id": "d5060e866f4c7de2",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 57,
        "width": 22,
        "height": 1
    },
    {
        "id": "23d7e2ecae6284b3",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 58,
        "width": 22,
        "height": 1
    },
    {
        "id": "2eacb72724a88325",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 59,
        "width": 22,
        "height": 1
    },
    {
        "id": "1ba20b2b19fcbb4e",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 62,
        "width": 22,
        "height": 1
    },
    {
        "id": "ab8fa9081ee5471d",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 63,
        "width": 22,
        "height": 1
    },
    {
        "id": "873a0dfc7a2a38fb",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 64,
        "width": 22,
        "height": 1
    },
    {
        "id": "940572a9e2214a48",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 65,
        "width": 22,
        "height": 1
    },
    {
        "id": "427a6598f4749e51",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 66,
        "width": 22,
        "height": 1
    },
    {
        "id": "0d0b748f37d0ba62",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 67,
        "width": 22,
        "height": 1
    },
    {
        "id": "4a134ef96e59a8ca",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 68,
        "width": 22,
        "height": 1
    },
    {
        "id": "a4071b4d7ff923b0",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 69,
        "width": 22,
        "height": 1
    },
    {
        "id": "d4e5bff29b527278",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 72,
        "width": 22,
        "height": 1
    },
    {
        "id": "cf8da8968e747ba4",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 73,
        "width": 22,
        "height": 1
    },
    {
        "id": "d9cbe00734cbe3ad",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 74,
        "width": 22,
        "height": 1
    },
    {
        "id": "d1d563613e7b5ede",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 75,
        "width": 22,
        "height": 1
    },
    {
        "id": "d7a09f5e561ee395",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 76,
        "width": 22,
        "height": 1
    },
    {
        "id": "4d36eb769cb5bc1b",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 77,
        "width": 22,
        "height": 1
    },
    {
        "id": "18b37af742a92210",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 78,
        "width": 22,
        "height": 1
    },
    {
        "id": "060dafcbec73d12d",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 79,
        "width": 22,
        "height": 1
    },
    {
        "id": "4404fd0635e91e4c",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 80,
        "width": 14,
        "height": 1
    },
    {
        "id": "debc33839fec0ffb",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 82,
        "width": 22,
        "height": 1
    },
    {
        "id": "3232bc4f38280965",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 83,
        "width": 14,
        "height": 1
    },
    {
        "id": "8fd7d108b1811f47",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 84,
        "width": 22,
        "height": 1
    },
    {
        "id": "b1c524bcc7528764",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 85,
        "width": 14,
        "height": 1
    },
    {
        "id": "7ee9b6180c573248",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 86,
        "width": 22,
        "height": 1
    },
    {
        "id": "4ee2a39a0509539c",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 87,
        "width": 14,
        "height": 1
    },
    {
        "id": "50433c6827cbe83d",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 88,
        "width": 22,
        "height": 1
    },
    {
        "id": "08fb3eb97a714181",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 89,
        "width": 14,
        "height": 1
    },
    {
        "id": "6fcef1ad3d4fe20b",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 90,
        "width": 22,
        "height": 1
    },
    {
        "id": "89f872353c29d7c7",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 91,
        "width": 14,
        "height": 1
    },
    {
        "id": "2724359db32b40af",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 92,
        "width": 22,
        "height": 1
    },
    {
        "id": "2efb9e1903771c04",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 93,
        "width": 14,
        "height": 1
    },
    {
        "id": "36c179af17ade606",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 94,
        "width": 22,
        "height": 1
    },
    {
        "id": "23a009b0bc34f68d",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 95,
        "width": 14,
        "height": 1
    },
    {
        "id": "d120ea5a8f899879",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 96,
        "width": 22,
        "height": 1
    },
    {
        "id": "e7c21e3ec0480580",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 101,
        "width": 42,
        "height": 1
    },
    {
        "id": "bd12e5fdb275bbc2",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 102,
        "width": 42,
        "height": 1
    },
    {
        "id": "40c18d44c9949b3e",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 103,
        "width": 42,
        "height": 1
    },
    {
        "id": "bc14fd602114fbe3",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "cedea10479027060",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "1cc5918122efb5e5",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "f383f0520e0afb34",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "f7e6a616d62b15b5",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "210d9340d2149b29",
        "order": 1,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7d448665d2758968",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "210d9340d2149b29",
        "order": 2,
        "disp": true,
        "width": 30
    },
    {
        "id": "26f4d8d1a3b9bc43",
        "type": "ui_spacer",
        "z": "6e5c79bcaeebd8b9",
        "name": "spacer",
        "group": "f7e6a616d62b15b5",
        "order": 2,
        "width": 30,
        "height": 1
    },
    {
        "id": "28adee398ee01b9e",
        "type": "ui_tab",
        "name": "Tab 2",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0b327f6aa62c140e",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "28adee398ee01b9e",
        "order": 1,
        "disp": true,
        "width": 30
    },
    {
        "id": "f112ab3a39b3e0e5",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "28adee398ee01b9e",
        "order": 2,
        "disp": true,
        "width": 30
    },
    {
        "id": "1e87626276b7d1f1",
        "type": "mysql",
        "z": "6e5c79bcaeebd8b9",
        "mydb": "891ee435ac193545",
        "name": "Database",
        "x": 420,
        "y": 60,
        "wires": [
            [
                "43b9a91fdbe7a9c0"
            ]
        ]
    },
    {
        "id": "4527524f879a622b",
        "type": "mysql",
        "z": "6e5c79bcaeebd8b9",
        "mydb": "891ee435ac193545",
        "name": "",
        "x": 450,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "43b9a91fdbe7a9c0",
        "type": "debug",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "succes",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 60,
        "wires": []
    },
    {
        "id": "aa7a00e9a58052e0",
        "type": "OpcUa-Client",
        "z": "6e5c79bcaeebd8b9",
        "endpoint": "1559a8d4092fea69",
        "action": "subscribe",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "200",
        "timeUnit": "ms",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 440,
        "y": 640,
        "wires": [
            [
                "aedbbdbd2971d778",
                "8f2c3fb9848a1bd1",
                "2e6aaaee96908a6d"
            ]
        ]
    },
    {
        "id": "0d44910e52fa3edd",
        "type": "inject",
        "z": "6e5c79bcaeebd8b9",
        "name": "DOS1_Flowrate",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=2;s=Tags.GECO/MPRX_DI_DOS1_Flowrate_50Hz_mlmin_l",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 640,
        "wires": [
            [
                "aa7a00e9a58052e0"
            ]
        ]
    },
    {
        "id": "0b83a39043e57591",
        "type": "comment",
        "z": "6e5c79bcaeebd8b9",
        "name": "example",
        "info": "",
        "x": 300,
        "y": 460,
        "wires": []
    },
    {
        "id": "65c7acd2b6f0f634",
        "type": "function",
        "z": "6e5c79bcaeebd8b9",
        "name": "INSERT statement",
        "func": "msg.topic = \"INSERT INTO 'pump_log' VALUES (\" + msg.payload + \")\";\nreturn msg;",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1990,
        "y": 560,
        "wires": []
    },
    {
        "id": "6aa048e21014b6fb",
        "type": "ui_template",
        "z": "6e5c79bcaeebd8b9",
        "group": "",
        "name": "",
        "order": 24,
        "width": 6,
        "height": 10,
        "format": "<div layout=\"row\" layout-align=\"space-between\">\n    <select ng-model=\"item\" ng-options=\"items.item.displayName.text pr items in msg.playload\">\n        <option value=\"\">       </option>\n    </select>\n</div>\npress to update\n<div layout=\"row\" layout-align=\"space-between\">\n    <button ng-click=\"send({playload: {actiontype: 'browse', root: item}})\">browse</button>\n</div>\n<div layout=\"row\" layout-align=\"space-between\" >\n    <ul>\n        <li ng-repeat=\"items in msg.payload\">\n            {{items.item.displayName.text}}: {{items.item.nodeId}}\n\n        </li>\n    </ul>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1000,
        "y": 260,
        "wires": [
            [
                "902f22bfc9aec097"
            ]
        ]
    },
    {
        "id": "902f22bfc9aec097",
        "type": "OpcUa-Browser",
        "z": "6e5c79bcaeebd8b9",
        "endpoint": "1559a8d4092fea69",
        "item": "",
        "datatype": "",
        "topic": "",
        "items": [],
        "name": "",
        "x": 1010,
        "y": 340,
        "wires": [
            [
                "6aa048e21014b6fb"
            ]
        ]
    },
    {
        "id": "d6ac326ec7303d64",
        "type": "comment",
        "z": "6e5c79bcaeebd8b9",
        "name": "OPC-UA browser: can be used to retrieve nodeId's",
        "info": "",
        "x": 990,
        "y": 200,
        "wires": []
    },
    {
        "id": "aedbbdbd2971d778",
        "type": "ui_gauge",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "group": "",
        "order": 51,
        "width": 14,
        "height": 8,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{' %.1f'|sprintf:value}} l/min",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 750,
        "y": 680,
        "wires": []
    },
    {
        "id": "8f2c3fb9848a1bd1",
        "type": "ui_chart",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "group": "",
        "order": 36,
        "width": 14,
        "height": 8,
        "label": "Trend flowrate DOS1",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "a900ceae065c9b7e",
        "type": "OpcUa-Client",
        "z": "6e5c79bcaeebd8b9",
        "endpoint": "1559a8d4092fea69",
        "action": "subscribe",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "200",
        "timeUnit": "ms",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 440,
        "y": 960,
        "wires": [
            [
                "5cd66600513ee0b6",
                "01e7567b5245cc36",
                "9b15d59d0e819831"
            ]
        ]
    },
    {
        "id": "fe25518775e3aa77",
        "type": "inject",
        "z": "6e5c79bcaeebd8b9",
        "name": "DOS2_Flowrate",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=2;s=Tags.GECO/MPRX_DI_DOS2_Flowrate_50Hz_mlmin_l",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 960,
        "wires": [
            [
                "a900ceae065c9b7e"
            ]
        ]
    },
    {
        "id": "5cd66600513ee0b6",
        "type": "ui_gauge",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "group": "",
        "order": 61,
        "width": 14,
        "height": 8,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{' %.1f'|sprintf:value}} l/min",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 750,
        "y": 1000,
        "wires": []
    },
    {
        "id": "01e7567b5245cc36",
        "type": "ui_chart",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "group": "",
        "order": 50,
        "width": 14,
        "height": 8,
        "label": "Trend flowrate DOS2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "9b15d59d0e819831",
        "type": "change",
        "z": "6e5c79bcaeebd8b9",
        "name": "DOS2_Flowrate",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "DOS2_Flowrate",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "360fc901ae50241b",
        "type": "OpcUa-Client",
        "z": "6e5c79bcaeebd8b9",
        "endpoint": "1559a8d4092fea69",
        "action": "subscribe",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "200",
        "timeUnit": "ms",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 440,
        "y": 1120,
        "wires": [
            [
                "65065cbf41bff1c7",
                "75b703f363878c59",
                "ed9ee422c4b6a299"
            ]
        ]
    },
    {
        "id": "98efde30d807be8a",
        "type": "inject",
        "z": "6e5c79bcaeebd8b9",
        "name": "DOS3_Flowrate",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=2;s=Tags.GECO/MPRX_DI_DOS3_Flowrate_50Hz_mlmin_l",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 1120,
        "wires": [
            [
                "360fc901ae50241b"
            ]
        ]
    },
    {
        "id": "65065cbf41bff1c7",
        "type": "ui_gauge",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "group": "",
        "order": 71,
        "width": 14,
        "height": 8,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{' %.1f'|sprintf:value}} l/min",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 750,
        "y": 1160,
        "wires": []
    },
    {
        "id": "75b703f363878c59",
        "type": "ui_chart",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "group": "",
        "order": 60,
        "width": 14,
        "height": 8,
        "label": "Trend flowrate DOS3",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "ed9ee422c4b6a299",
        "type": "change",
        "z": "6e5c79bcaeebd8b9",
        "name": "DOS3_Flowrate",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "DOS3_Flowrate",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "4219cff2fa40217c",
        "type": "OpcUa-Client",
        "z": "6e5c79bcaeebd8b9",
        "endpoint": "1559a8d4092fea69",
        "action": "subscribe",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "200",
        "timeUnit": "ms",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 440,
        "y": 1260,
        "wires": [
            [
                "ab49d9dd15ad95b8",
                "0f20c0dcccf0f6f3",
                "3ef8c9cd590cc0ab"
            ]
        ]
    },
    {
        "id": "8ed1e7eb642da054",
        "type": "inject",
        "z": "6e5c79bcaeebd8b9",
        "name": "FOG_Flowrate",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=2;s=Tags.GECO/MPRX_FOG_Flowrate_50Hz_lmin_l",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 1260,
        "wires": [
            [
                "4219cff2fa40217c"
            ]
        ]
    },
    {
        "id": "ab49d9dd15ad95b8",
        "type": "ui_gauge",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "group": "",
        "order": 81,
        "width": 14,
        "height": 8,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{' %.1f'|sprintf:value}} l/min",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 750,
        "y": 1300,
        "wires": []
    },
    {
        "id": "0f20c0dcccf0f6f3",
        "type": "ui_chart",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "group": "",
        "order": 70,
        "width": 14,
        "height": 8,
        "label": "Trend flowrate Fog",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "3ef8c9cd590cc0ab",
        "type": "change",
        "z": "6e5c79bcaeebd8b9",
        "name": "FOG_Flowrate",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "FOG_Flowrate",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "c4c5b242135e577c",
        "type": "OpcUa-Client",
        "z": "6e5c79bcaeebd8b9",
        "endpoint": "1559a8d4092fea69",
        "action": "subscribe",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "200",
        "timeUnit": "ms",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 1420,
        "y": 860,
        "wires": [
            [
                "19ba632f7b7bf332",
                "a1f63cafc1b77aaa",
                "fec719730c5b6051"
            ]
        ]
    },
    {
        "id": "d2d5dd7c4122ab68",
        "type": "inject",
        "z": "6e5c79bcaeebd8b9",
        "name": "DOS1_Flowrate",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=2;s=Tags.GECO/MPRX_DI_DOS1_Flowrate_50Hz_mlmin_l",
        "payload": "",
        "payloadType": "date",
        "x": 1200,
        "y": 860,
        "wires": [
            [
                "c4c5b242135e577c"
            ]
        ]
    },
    {
        "id": "19ba632f7b7bf332",
        "type": "ui_gauge",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "group": "408982674b964e24",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{' %.1f'|sprintf:value}} l/min",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1730,
        "y": 900,
        "wires": []
    },
    {
        "id": "a1f63cafc1b77aaa",
        "type": "ui_chart",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "group": "408982674b964e24",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Trend flowrate DOS1",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1780,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "d9b71d488e07d86c",
        "type": "change",
        "z": "6e5c79bcaeebd8b9",
        "name": "DOS1_Flowrate",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "DOS1_Flowrate",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1880,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "c3d54a153bd62201",
        "type": "OpcUa-Client",
        "z": "6e5c79bcaeebd8b9",
        "endpoint": "1559a8d4092fea69",
        "action": "subscribe",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "200",
        "timeUnit": "ms",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 480,
        "y": 1960,
        "wires": [
            [
                "3bb57862dfea38f0",
                "95809871c263abc5",
                "17bb79dae857b657"
            ]
        ]
    },
    {
        "id": "cdd8113f9325b86b",
        "type": "inject",
        "z": "6e5c79bcaeebd8b9",
        "name": "DOS1_Flowrate",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=2;s=Tags.GECO/MPRX_DI_DOS1_Flowrate_50Hz_mlmin_l",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 1960,
        "wires": [
            [
                "c3d54a153bd62201"
            ]
        ]
    },
    {
        "id": "3bb57862dfea38f0",
        "type": "ui_gauge",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "group": "408982674b964e24",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{' %.1f'|sprintf:value}} l/min",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 790,
        "y": 2000,
        "wires": []
    },
    {
        "id": "95809871c263abc5",
        "type": "ui_chart",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "group": "408982674b964e24",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Trend flowrate DOS1",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 1960,
        "wires": [
            []
        ]
    },
    {
        "id": "17bb79dae857b657",
        "type": "change",
        "z": "6e5c79bcaeebd8b9",
        "name": "DOS1_Flowrate",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "DOS1_Flowrate",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 1920,
        "wires": [
            []
        ]
    },
    {
        "id": "2839d740734a5cd9",
        "type": "OpcUa-Client",
        "z": "6e5c79bcaeebd8b9",
        "endpoint": "1559a8d4092fea69",
        "action": "subscribe",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "200",
        "timeUnit": "ms",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 480,
        "y": 2120,
        "wires": [
            [
                "119ef581a44c9a21",
                "0e47ea67119032e9",
                "b82fd6519c8a5551"
            ]
        ]
    },
    {
        "id": "35151115a6781a23",
        "type": "inject",
        "z": "6e5c79bcaeebd8b9",
        "name": "DOS1_Flowrate",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=2;s=Tags.GECO/MPRX_DI_DOS1_Flowrate_50Hz_mlmin_l",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 2120,
        "wires": [
            [
                "2839d740734a5cd9"
            ]
        ]
    },
    {
        "id": "119ef581a44c9a21",
        "type": "ui_gauge",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "group": "408982674b964e24",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{' %.1f'|sprintf:value}} l/min",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 790,
        "y": 2160,
        "wires": []
    },
    {
        "id": "0e47ea67119032e9",
        "type": "ui_chart",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "group": "408982674b964e24",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Trend flowrate DOS1",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 2120,
        "wires": [
            []
        ]
    },
    {
        "id": "b82fd6519c8a5551",
        "type": "change",
        "z": "6e5c79bcaeebd8b9",
        "name": "DOS1_Flowrate",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "DOS1_Flowrate",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 2080,
        "wires": [
            []
        ]
    },
    {
        "id": "ab0f0b4bfe38487b",
        "type": "OpcUa-Client",
        "z": "6e5c79bcaeebd8b9",
        "endpoint": "1559a8d4092fea69",
        "action": "subscribe",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "200",
        "timeUnit": "ms",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 480,
        "y": 2280,
        "wires": [
            [
                "4818fa103ce8da7a",
                "98f34c3884ff7dea",
                "a8d0addb9c77f48b"
            ]
        ]
    },
    {
        "id": "c898e954929cd1be",
        "type": "inject",
        "z": "6e5c79bcaeebd8b9",
        "name": "DOS1_Flowrate",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=2;s=Tags.GECO/MPRX_DI_DOS1_Flowrate_50Hz_mlmin_l",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 2280,
        "wires": [
            [
                "ab0f0b4bfe38487b"
            ]
        ]
    },
    {
        "id": "4818fa103ce8da7a",
        "type": "ui_gauge",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "group": "408982674b964e24",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{' %.1f'|sprintf:value}} l/min",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 790,
        "y": 2320,
        "wires": []
    },
    {
        "id": "98f34c3884ff7dea",
        "type": "ui_chart",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "group": "408982674b964e24",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Trend flowrate DOS1",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 2280,
        "wires": [
            []
        ]
    },
    {
        "id": "a8d0addb9c77f48b",
        "type": "change",
        "z": "6e5c79bcaeebd8b9",
        "name": "DOS1_Flowrate",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "DOS1_Flowrate",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 2240,
        "wires": [
            []
        ]
    },
    {
        "id": "154382c044ac710a",
        "type": "OpcUa-Client",
        "z": "6e5c79bcaeebd8b9",
        "endpoint": "1559a8d4092fea69",
        "action": "subscribe",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "200",
        "timeUnit": "ms",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 480,
        "y": 2440,
        "wires": [
            [
                "2deec38ea1e2685a",
                "3e3007346827f1e8",
                "8bd3e42684d263cb"
            ]
        ]
    },
    {
        "id": "c7257a857f5c19a3",
        "type": "inject",
        "z": "6e5c79bcaeebd8b9",
        "name": "DOS1_Flowrate",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=2;s=Tags.GECO/MPRX_DI_DOS1_Flowrate_50Hz_mlmin_l",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 2440,
        "wires": [
            [
                "154382c044ac710a"
            ]
        ]
    },
    {
        "id": "2deec38ea1e2685a",
        "type": "ui_gauge",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "group": "408982674b964e24",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{' %.1f'|sprintf:value}} l/min",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 790,
        "y": 2480,
        "wires": []
    },
    {
        "id": "3e3007346827f1e8",
        "type": "ui_chart",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "group": "408982674b964e24",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Trend flowrate DOS1",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 2440,
        "wires": [
            []
        ]
    },
    {
        "id": "8bd3e42684d263cb",
        "type": "change",
        "z": "6e5c79bcaeebd8b9",
        "name": "DOS1_Flowrate",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "DOS1_Flowrate",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 2400,
        "wires": [
            []
        ]
    },
    {
        "id": "f224233fc7f96658",
        "type": "inject",
        "z": "6e5c79bcaeebd8b9",
        "name": "time",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1810,
        "y": 580,
        "wires": [
            [
                "65c7acd2b6f0f634"
            ]
        ]
    },
    {
        "id": "fec719730c5b6051",
        "type": "average",
        "z": "6e5c79bcaeebd8b9",
        "name": "average",
        "topic": "",
        "x": 1700,
        "y": 820,
        "wires": [
            [
                "d9b71d488e07d86c"
            ]
        ]
    },
    {
        "id": "3493e048f0c0ad61",
        "type": "inject",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "props": [
            {
                "p": "reset",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1410,
        "y": 820,
        "wires": [
            [
                "fec719730c5b6051"
            ]
        ]
    },
    {
        "id": "6aabdb3ee36f8140",
        "type": "comment",
        "z": "6e5c79bcaeebd8b9",
        "name": "testing",
        "info": "",
        "x": 1470,
        "y": 720,
        "wires": []
    },
    {
        "id": "5e3a49783daa67bf",
        "type": "inject",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "d79c4274a2b5cc43"
            ]
        ]
    },
    {
        "id": "d79c4274a2b5cc43",
        "type": "ui_gauge",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "group": "",
        "order": 49,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 350,
        "y": 400,
        "wires": []
    },
    {
        "id": "3aaf2a809e5885a2",
        "type": "inject",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "INSERT into node_red.pump_log(MPRX_DI_dos1_flowrate,Log_datetime) VALUES (5,);",
        "payloadType": "str",
        "x": 90,
        "y": 60,
        "wires": [
            [
                "0cddc3aefec3a6dd"
            ]
        ]
    },
    {
        "id": "0cddc3aefec3a6dd",
        "type": "function",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "func": "var date = new Date().toISOString().slice(0, 19).replace('T', ' ');\nmsg.topic = \"INSERT INTO pump_log(MPRX_DI_dos1_flowrate,Log_datetime) VALUES (\" +10+ \",'\" +date+\"')\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 60,
        "wires": [
            [
                "1e87626276b7d1f1"
            ]
        ]
    },
    {
        "id": "dd4ea870b5b2ef6a",
        "type": "comment",
        "z": "6e5c79bcaeebd8b9",
        "name": "example of woring mySQL injector",
        "info": "",
        "x": 360,
        "y": 20,
        "wires": []
    },
    {
        "id": "e4884c9af52cdf29",
        "type": "inject",
        "z": "6e5c79bcaeebd8b9",
        "name": "okees",
        "props": [
            {
                "p": "reset",
                "v": "oke",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "5",
        "payload": "reset",
        "payloadType": "msg",
        "x": 1440,
        "y": 1040,
        "wires": [
            [
                "034f5ec24bcdefc9",
                "f0286910dc04f9a2"
            ]
        ]
    },
    {
        "id": "2e024f40beadcba6",
        "type": "ui_gauge",
        "z": "6e5c79bcaeebd8b9",
        "name": "live",
        "group": "7d448665d2758968",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "live",
        "label": "units",
        "format": "{{' %.1f'|sprintf:value}} l/min",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1770,
        "y": 1120,
        "wires": []
    },
    {
        "id": "b482a395159a6fa2",
        "type": "ui_chart",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "group": "7d448665d2758968",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Live",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1770,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "034f5ec24bcdefc9",
        "type": "average",
        "z": "6e5c79bcaeebd8b9",
        "name": "average",
        "topic": "",
        "x": 1740,
        "y": 1040,
        "wires": [
            [
                "7c42845f52cb15a2",
                "946fcd511d456d42",
                "e9657fc55ad9b8c0"
            ]
        ]
    },
    {
        "id": "48d4bda15dfecf15",
        "type": "inject",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "8",
        "payload": "8",
        "payloadType": "num",
        "x": 1430,
        "y": 1180,
        "wires": [
            [
                "034f5ec24bcdefc9",
                "b482a395159a6fa2",
                "2e024f40beadcba6"
            ]
        ]
    },
    {
        "id": "9759ce79401be43b",
        "type": "inject",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "10",
        "payload": "10",
        "payloadType": "num",
        "x": 1440,
        "y": 1220,
        "wires": [
            [
                "034f5ec24bcdefc9",
                "b482a395159a6fa2",
                "2e024f40beadcba6"
            ]
        ]
    },
    {
        "id": "f88bf949d73306e2",
        "type": "inject",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "6512",
        "payload": "6512",
        "payloadType": "num",
        "x": 1450,
        "y": 1280,
        "wires": [
            [
                "034f5ec24bcdefc9",
                "b482a395159a6fa2",
                "2e024f40beadcba6"
            ]
        ]
    },
    {
        "id": "c8af299e5a749a71",
        "type": "inject",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "oke",
        "payloadType": "str",
        "x": 1630,
        "y": 1280,
        "wires": [
            [
                "a0b13e9b5f461fb2",
                "e624a90df1ea0e40"
            ]
        ]
    },
    {
        "id": "5b6da599d190657c",
        "type": "ui_chart",
        "z": "6e5c79bcaeebd8b9",
        "name": "average",
        "group": "f7e6a616d62b15b5",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "average",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2060,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "d56e76ca5dc7d07a",
        "type": "function",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "func": "if (!msg.reset){\n    global.set(\"oke\",msg.payload);\n}\nelse{\n    msg.payload = global.get(\"oke\");\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1820,
        "y": 1260,
        "wires": [
            [
                "47eb8c4b241199fc"
            ]
        ]
    },
    {
        "id": "a8b9c9734182e710",
        "type": "ui_text",
        "z": "6e5c79bcaeebd8b9",
        "group": "f7e6a616d62b15b5",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "H2",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 2050,
        "y": 1260,
        "wires": []
    },
    {
        "id": "f4baa93e79e3a4ef",
        "type": "debug",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2110,
        "y": 1040,
        "wires": []
    },
    {
        "id": "7c42845f52cb15a2",
        "type": "function",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "func": "global.set(\"oke\",mgs.payload);\nmsg.payload = msg.payload.value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1940,
        "y": 1040,
        "wires": [
            [
                "f4baa93e79e3a4ef"
            ]
        ]
    },
    {
        "id": "a0b13e9b5f461fb2",
        "type": "function",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "func": "var temp = global.get(\"oke\");\nvar newMsg = { payload: temp };\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1840,
        "y": 1360,
        "wires": [
            [
                "44956a0a84530463"
            ]
        ]
    },
    {
        "id": "946fcd511d456d42",
        "type": "ui_gauge",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "group": "7d448665d2758968",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1950,
        "y": 980,
        "wires": []
    },
    {
        "id": "f0286910dc04f9a2",
        "type": "debug",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "reset",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1620,
        "y": 1000,
        "wires": []
    },
    {
        "id": "47eb8c4b241199fc",
        "type": "debug",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2070,
        "y": 1300,
        "wires": []
    },
    {
        "id": "1585c01f510aeff0",
        "type": "join",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1350,
        "y": 1740,
        "wires": [
            []
        ]
    },
    {
        "id": "44956a0a84530463",
        "type": "debug",
        "z": "6e5c79bcaeebd8b9",
        "name": "retrieve data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2070,
        "y": 1400,
        "wires": []
    },
    {
        "id": "e87442a1fc05a3a8",
        "type": "inject",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ok",
        "payload": "1965",
        "payloadType": "num",
        "x": 1970,
        "y": 1120,
        "wires": [
            [
                "7c42845f52cb15a2"
            ]
        ]
    },
    {
        "id": "e9657fc55ad9b8c0",
        "type": "change",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "oke",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1980,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "e624a90df1ea0e40",
        "type": "change",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "oke",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1680,
        "y": 1440,
        "wires": [
            [
                "5b6da599d190657c",
                "a8b9c9734182e710"
            ]
        ]
    },
    {
        "id": "2032e18c0bcfc3c7",
        "type": "ui_gauge",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "group": "7d448665d2758968",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1970,
        "y": 1520,
        "wires": []
    },
    {
        "id": "12500d27bcf9c93c",
        "type": "inject",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 1630,
        "y": 1540,
        "wires": [
            [
                "2032e18c0bcfc3c7"
            ]
        ]
    },
    {
        "id": "072b27c930ba5e2c",
        "type": "inject",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 1630,
        "y": 1500,
        "wires": [
            [
                "2032e18c0bcfc3c7"
            ]
        ]
    },
    {
        "id": "68ab4623d488a125",
        "type": "inject",
        "z": "6e5c79bcaeebd8b9",
        "name": "okees",
        "props": [
            {
                "p": "reset",
                "v": "oke",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "5",
        "payload": "reset",
        "payloadType": "msg",
        "x": 220,
        "y": 580,
        "wires": [
            [
                "2e6aaaee96908a6d",
                "5ffd16c551c8a4c6"
            ]
        ]
    },
    {
        "id": "2e6aaaee96908a6d",
        "type": "average",
        "z": "6e5c79bcaeebd8b9",
        "name": "average",
        "topic": "",
        "x": 660,
        "y": 580,
        "wires": [
            [
                "0c8f8cd1f81ab1f7",
                "ca6c0def25c0a5fc",
                "1398283b145a3b4f"
            ]
        ]
    },
    {
        "id": "d10a9541e03911ca",
        "type": "inject",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "oke",
        "payloadType": "str",
        "x": 1830,
        "y": 420,
        "wires": [
            [
                "7080f18647adfb79"
            ]
        ]
    },
    {
        "id": "465ef3b37cd7780f",
        "type": "ui_chart",
        "z": "6e5c79bcaeebd8b9",
        "name": "average",
        "group": "f7e6a616d62b15b5",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "average",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2340,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "ee31f40db9a5ecfd",
        "type": "function",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "func": "if (!msg.reset){\n    global.set(\"oke\",msg.payload);\n}\nelse{\n    msg.payload = global.get(\"oke\");\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2340,
        "y": 460,
        "wires": [
            [
                "9f40c73f2a23ac79"
            ]
        ]
    },
    {
        "id": "a90595a333f73258",
        "type": "ui_text",
        "z": "6e5c79bcaeebd8b9",
        "group": "f7e6a616d62b15b5",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "H2",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 2330,
        "y": 400,
        "wires": []
    },
    {
        "id": "0af2396185741d47",
        "type": "debug",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 560,
        "wires": []
    },
    {
        "id": "0c8f8cd1f81ab1f7",
        "type": "function",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "func": "global.set(\"oke\",mgs.payload);\nmsg.payload = msg.payload.value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 600,
        "wires": [
            [
                "0af2396185741d47"
            ]
        ]
    },
    {
        "id": "ca6c0def25c0a5fc",
        "type": "ui_gauge",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "group": "7d448665d2758968",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 890,
        "y": 560,
        "wires": []
    },
    {
        "id": "5ffd16c551c8a4c6",
        "type": "debug",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "reset",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 560,
        "wires": []
    },
    {
        "id": "9f40c73f2a23ac79",
        "type": "debug",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2550,
        "y": 380,
        "wires": []
    },
    {
        "id": "1398283b145a3b4f",
        "type": "change",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "oke",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "7080f18647adfb79",
        "type": "change",
        "z": "6e5c79bcaeebd8b9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "oke",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2020,
        "y": 420,
        "wires": [
            [
                "465ef3b37cd7780f",
                "a90595a333f73258",
                "ee31f40db9a5ecfd"
            ]
        ]
    }
]